# Unignore .gitignore itself
!.gitignore

# Unignore HTML and CSS files
!*.html
!*.css

# Unignore the css/ directory
!css/

# Unignore the images/ directory
!images/

# Ignore common image file extensions
!*.jpg
!*.jpeg
!*.png
!*.gif
!*.bmp
!*.tiff
!*.svg
!*.webp
!*.ico